body {
    background-color: #224a7b;
}

h1, h2, h3, h4 {
    color: #e77d41;
    font-weight: bold;
    font-size: x-large;
}

h2 {
    color: #cd5c5c;
}

h3 {
    color: #f08080;
}

h4 {
    color: #ffa07a;
}

h2::before {
    content: '∙ ';
}

h3::before {
    content: '∙∙ ';
}

h4::before {
    content: '∙∙∙ ';
}

p, li {
    color: white;
    font-size: x-large;
}

a {
    color: sandybrown;
}

a:visited {
    color: #8d4010;
}

#org-div-home-and-up {
    font-size: large;
}

blockquote {
    background-color: #10335a;
    border: 3px solid #10335a;
    border-radius: 10px;
}

blockquote p {
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style-type: circle;
}

pre.src {
    font-family: monospace;
    color: black;
}

table {
    background-color: rgb(16, 51, 90);
    color: white;
    font-family: monospace;
    font-size: large;
}

tr {
    color: white;
}
